DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# URL DE BASES DE DATOS
DB_URL_AUTH=jdbc:postgresql://localhost:5432/db_rapicancha_auth
DB_URL_BOOKING=jdbc:postgresql://localhost:5432/db_rapicancha_booking
DB_URL_COURT=jdbc:postgresql://localhost:5432/db_rapicancha_court
