DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# URL DE BASES DE DATOS
DB_URL_AUTH=jdbc:mysql://localhost:3306/db_rapicancha_auth?createDatabaseIfNotExist=true
DB_URL_BOOKING=jdbc:mysql://localhost:3306/db_rapicancha_booking?createDatabaseIfNotExist=true
DB_URL_COURT=jdbc:mysql://localhost:3306/db_rapicancha_court?createDatabaseIfNotExist=true